%h2.heading Import Contacts

.row
  .col-xs-12
    = link_to 'Back to Contacts', contacts_path, class: 'btn'

= simple_form_for(@batch_form, url: batch_contacts_path, html: { id: 'csv-drop-zone', class: 'form-horizontal dropzone', multipart: true }) do |f|
  .dz-message
    %p Drop file here or click to upload. (Max file size is 5MB)
    %i.fa.fa-cloud-upload.fa-5x{ aria: { hidden: 'true' } }
  .fallback
    = f.input :file
    = f.submit 'Upload', class: 'btn btn-primary'
%br/
.row
  .col-xs-12
    %h4.heading Sample CSV File
    %p The table below shows the format the CSV file should be in
    %table.table.table-striped.table-bordered.table-responsive
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Email
      %tbody
        %tr
          %td John
          %td Thompson
          %td john.thompson@sample.com.au
        %tr
          %td Michelle
          %td Rivers
          %td michelle.rivers@sample.com.au
